<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="org.opentrackingtools.graph.paths.impl.InferredPathTest"/>
      <class name="org.opentrackingtools.graph.paths.states.impl.PathStateTest"/>
      <class name="org.opentrackingtools.impl.SimulationTest"/>
      <class name="org.opentrackingtools.statistics.filters.vehicles.road.impl.RoadTrackingFilterGraphTest"/>
      <class name="org.opentrackingtools.statistics.filters.vehicles.road.impl.AbstractRoadTrackingFilterTest"/>
      <class name="org.opentrackingtools.statistics.filters.vehicles.road.impl.ErrorEstimatingRoadTrackingFilterTest"/>
      <class name="org.opentrackingtools.graph.paths.util.PathUtilsTest"/>
      <class name="org.opentrackingtools.util.GeoUtilsTest"/>
      <class name="org.opentrackingtools.statistics.StatisticsUtilTest"/>
      <class name="org.opentrackingtools.statistics.distributions.impl.DefaultCountedDataDistributionTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
