<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>SystemServiceServlet</display-name>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InferenceServiceImpl</servlet-name>
    <url-pattern>/tracking_webapp_gwt/inferenceService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InferenceServiceImpl</display-name>
    <servlet-name>InferenceServiceImpl</servlet-name>
    <servlet-class>org.openplans.tools.tracking.server.InferenceServiceImpl</servlet-class>
    <init-param>
      <param-name>otpGraphPath</param-name>
      <param-value>/home/bwillard/openplans/OpenTripPlanner/test-graph</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TraceUploadServiceImpl</display-name>
    <servlet-name>TraceUploadServiceImpl</servlet-name>
    <servlet-class>org.openplans.tools.tracking.server.TraceUploadServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraceUploadServiceImpl</servlet-name>
    <url-pattern>/tracking_webapp_gwt/traceUpload</url-pattern>
  </servlet-mapping>
</web-app>