<html>

<head>
<title>Data Visualizer</title>

<!-- leaflet -->
<script src="@{'/public/javascripts/leaflet/dist/leaflet.js'}"></script>
<link rel="stylesheet" href="@{'/public/javascripts/leaflet/dist/leaflet.css'}" />
<script src="@{'/public/javascripts/OpenLayers-2.11/OpenLayers.js'}"></script>
<script src="@{'/public/javascripts/proj4js/lib/proj4js-combined.js'}"></script>
<!-- jquery -->
<link type="text/css" href="@{'/public/javascripts/jquery/ui-lightness/jquery-ui-1.8.21.custom.css'}" rel="stylesheet" />	
<script type="text/javascript" src="@{'/public/javascripts/jquery/jquery-1.7.2.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery/jquery-ui-1.8.21.custom.min.js'}"></script>

<!-- <script type="text/javascript" src="http://www.google.com/jsapi"></script> -->
<!-- <script type="text/javascript" src="@{'/public/javascripts/danvk-dygraphs-681a215/dygraph-combined.js'}"></script> -->
<script type="text/javascript" src="@{'/public/javascripts/rickshaw.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/d3.v2.js'}"></script>
<link rel="stylesheet" href="@{'/public/stylesheets/style.css'}" />
<link rel="stylesheet" href="@{'/public/stylesheets/rickshaw.css'}" />
<link rel="stylesheet" href="@{'/public/stylesheets/lines.css'}" />
<link rel="stylesheet" href="@{'/public/stylesheets/detail.css'}" />
<link rel="stylesheet" href="@{'/public/stylesheets/graph.css'}" />
<link rel="stylesheet" href="@{'/public/stylesheets/legend.css'}" />

<body>
</head>	

<!-- <div id="visualization" style="width: 800px; height: 400px;"></div> -->
<div id="chart_container">
  <div id="chart" class="rickshaw_graph"></div>
  <div id="legend_container">
    <div id="smoother" title="Smoothing"></div>
    <div id="legend"></div>
  </div>
  <div id="slider"></div>
</div>
<script type="text/javascript">
//     google.load('visualization', '1', {packages: ['motionchart']});
//     function drawVisualization() {
//       var data = new google.visualization.DataTable();
//       data.addColumn('string', 'Instance');
//       data.addColumn('number', 'Time');
//       data.addColumn('number', 'RMSE');
//       {list items:0..instances.size-1, as:'i'}
//         {list items:1..instances.get(i).performanceResults.stats.size, as:'j'}
//           data.addRow(["{instances.get(i).vehicleId}", {j}, {instances.get(i).performanceResults.stats.get(j-1).mean}]);
//         {/list} 
//       {/list} 
//       var motionchart = new google.visualization.MotionChart(
//           document.getElementById('visualization'));
//       motionchart.draw(data, {'width': 800, 'height': 400});
//     }
//     
//     google.setOnLoadCallback(drawVisualization);

var seriesData = [];

function componentToHex(c) {
  var hex = c.toString(16);
  return hex.length == 1 ? "0" + hex : hex;
}

function rgbToHex(r, g, b) {
  return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
}

var colors = [];
for(hue = 0; hue < 360; hue += 360 / ${instances.size}) {
    colors.push(hsvToRgb(hue, 100, 100));
}

#{list items:0..instances.size-1, as:'i'}
  var series${i} = new Array();
  #{list items:1..instances.get(i).performanceResults.stats.size, as:'j'}
  
    series${i}.push({
      x: ${instances.get(i).performanceResults.stats.get(j-1).time}/1000, 
      y: Math.log(1+${instances.get(i).performanceResults.stats.get(j-1).mean})
    });
  
  #{/list} 
  seriesData.push(
      {
        color: rgbToHex(colors[${i}][0], colors[${i}][1], colors[${i}][2]),
        data: series${i},
        name: '${instances.get(i).vehicleId}'
      });
#{/list} 

// instantiate our graph!

var graph = new Rickshaw.Graph( {
  element: document.getElementById("chart"),
  width: 960,
  height: 500,
  renderer: 'line',
  series: seriesData
  } );

graph.render();

// var slider = new Rickshaw.Graph.RangeSlider({
//     graph: graph,
//     element: document.querySelector('#slider')
// });

var hoverDetail = new Rickshaw.Graph.HoverDetail( {
  graph: graph
} );

var legend = new Rickshaw.Graph.Legend( {
  graph: graph,
  element: document.getElementById('legend')
} );

var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
  graph: graph,
  legend: legend
} );

var axes = new Rickshaw.Graph.Axis.Time( {
  graph: graph
} );
axes.render();

/**
 * HSV to RGB color conversion
 *
 * H runs from 0 to 360 degrees
 * S and V run from 0 to 100
 * 
 * Ported from the excellent java algorithm by Eugene Vishnevsky at:
 * http://www.cs.rit.edu/~ncs/color/t_convert.html
 */
function hsvToRgb(h, s, v) {
  var r, g, b;
  var i;
  var f, p, q, t;
  
  // Make sure our arguments stay in-range
  h = Math.max(0, Math.min(360, h));
  s = Math.max(0, Math.min(100, s));
  v = Math.max(0, Math.min(100, v));
  
  // We accept saturation and value arguments from 0 to 100 because that's
  // how Photoshop represents those values. Internally, however, the
  // saturation and value are calculated from a range of 0 to 1. We make
  // That conversion here.
  s /= 100;
  v /= 100;
  
  if(s == 0) {
    // Achromatic (grey)
    r = g = b = v;
    return [Math.round(r * 255), Math.round(g * 255), Math.round(b * 255)];
  }
  
  h /= 60; // sector 0 to 5
  i = Math.floor(h);
  f = h - i; // factorial part of h
  p = v * (1 - s);
  q = v * (1 - s * f);
  t = v * (1 - s * (1 - f));

  switch(i) {
    case 0:
      r = v;
      g = t;
      b = p;
      break;
      
    case 1:
      r = q;
      g = v;
      b = p;
      break;
      
    case 2:
      r = p;
      g = v;
      b = t;
      break;
      
    case 3:
      r = p;
      g = q;
      b = v;
      break;
      
    case 4:
      r = t;
      g = p;
      b = v;
      break;
      
    default: // case 5:
      r = v;
      g = p;
      b = q;
  }
  
  return [Math.round(r * 255), Math.round(g * 255), Math.round(b * 255)];
}


</script>
</body>
</html>
