<html>
<body>
<h1>${instances.size()} instance(s)</h1>
<div id="instances" style="padding: 2px; border: 1px solid black" >
<ul>
   	
   	#{list items:instances, as:'instance'}
        <li>
            vehicleId: ${instance.vehicleId}, recordsProcessed: ${instance.recordsProcessed}
            
            #{form @Application.removeInferenceInstance(), method:'GET', id:'deleteForm'}
	            <input type="hidden" name="name" value="${instance.vehicleId}"/>	
                <input type="submit" value="Delete">
            #{/form}
            
            #{form @Application.map(), method:'GET', id:'mapForm'}
                <input type="hidden" name="name" value="${instance.vehicleId}"/>
                <input type="submit" value="Map"/>
            #{/form}
        </li>
    #{/list}
</ul>
</div>
<div id="upload" style="padding: 2px; border: 1px solid black">

	 #{form @Application.uploadHandler(), enctype:'multipart/form-data'}
	 				<input name="csv" type="file"/>
	                <input type="submit"/>
	 #{/form}


</div>
<div id="simulate" style="padding: 2px; border: 1px solid black">
	#{form @Application.simulation(), method:'GET'}
	 	<input name="obs_variance_pair" type="text" value="625, 625"/> 
	    Observation Variance (x,y)<br>
	 	<input name="road_state_variance_pair" type="text" value="0.000625, 0.000625"/> 
	    On-road State Variance (errors due to acceleration, (x,y))<br>
	 	<input name="ground_state_variance_pair" type="text" value="0.000625, 0.000625"/> 
	    Off-road State Variance (errors due to acceleration, (x,y))<br>
	 	<input name="off_prob_pair" type="text" value="0.05, 1"/>
	    Off- to off-road, off- to on-road weights (unnormalized)<br>
	 	<input name="on_prob_pair" type="text" value="1, 0.05"/>
	    On- to on-road, on- to off-road weights (unnormalized)<br>
	  <input type="submit" value="Simulate">
	#{/form}

</div>
</body>
</html>