<html>
<body>
<h1>${instances.size()} instance(s)</h1>
<div id="instances" style="padding: 2px; border: 1px solid black" >
<ul>
   	
   	#{list items:instances, as:'instance'}
        <li>
            vehicleId: ${instance.vehicleId}, 
            recordsProcessed: ${instance.recordsProcessed}
            #{if instance.totalRecords > 0}/${instance.totalRecords}
            #{/if}<br>
            isSimulation: ${instance.isSimulation}
            <br>
            Initial Parameters:
            <ul>
              <li> obsVariance: ${instance.initialParameters.obsVariance} </li>
              <li> onRoadStateVariance: ${instance.initialParameters.onRoadStateVariance} </li>
              <li> offRoadStateVariance: ${instance.initialParameters.offRoadStateVariance} </li>
              <li> offTransitionProbs: ${instance.initialParameters.offTransitionProbs} </li>
              <li> onTransitionProbs: ${instance.initialParameters.onTransitionProbs} </li>
              <li> seed: ${instance.simSeed} </li>
             </ul>
            
            #{form @Application.removeInferenceInstance(), method:'GET', id:'deleteForm'}
	              <input type="hidden" name="name" value="${instance.vehicleId}"/>	
                <input type="submit" value="Delete">
            #{/form}
            
            #{form @Application.map(), method:'GET', target:'_blank', id:'mapForm'}
                <input type="hidden" name="name" value="${instance.vehicleId}"/>
                <input type="submit" value="Map"/>
            #{/form}
            
            #{form @Api.traces(), method:'GET', target:'_blank', id:'tracesForm'}
                <input type="hidden" name="vehicleId" value="${instance.vehicleId}"/>
                <input type="submit" value="Traces"/>
            #{/form}
        </li>
    #{/list}
</ul>
</div>
<div id="upload" style="padding: 2px; border: 1px solid black">

	 #{form @Application.uploadHandler(), enctype:'multipart/form-data'}
   
	 	<input name="debugEnabled" id="debugEnabled" type="checkbox" value="true"/>
	    <label for="enableDebug">Enable debug for this trace</label><br>
	 				<input name="csv" type="file"/>
	                <input type="submit"/>
	 #{/form}


</div>
<div id="simulate" style="padding: 2px; border: 1px solid black">
	#{form @Application.simulation(), method:'GET'}
	 	<input name="seed_str" type="text" value="0"/>
	    Random seed (enter 0 for none)<br>
	 	<input name="start_coordinate_pair" type="text" value="10.300252, 123.90609"/> 
	    Start coordinates (lat,lon)<br>
	 	<input name="start_unix_time" type="text" value="1325570441000"/> 
	    Start (unix) time * 1000<br>
	 	<input name="duration_str" type="text" value="3600"/> 
	    Duration (secs)<br>
	 	<input name="frequency_str" type="text" value="30"/> 
	    Observation Frequency (secs)<br>
	 	<input name="obs_variance_pair" type="text" value="100, 100"/> 
	    Observation Variance (x,y) in meters<br>
	 	<input name="road_state_variance_pair" type="text" value="0.000625, 0.000625"/> 
	    On-road State Variance (errors due to acceleration, (dist,velocity))<br>
	 	<input name="ground_state_variance_pair" type="text" value="0.000625, 0.000625"/> 
	    Off-road State Variance (errors due to acceleration, (location,velocity))<br>
	 	<input name="off_prob_pair" type="text" value="0.05, 1"/>
	    Off- to off-road, off- to on-road weights (unnormalized)<br>
	 	<input name="on_prob_pair" type="text" value="1, 0.05"/>
	    On- to on-road, on- to off-road weights (unnormalized)<br>
	 	<input name="performInference" id="performInference" type="checkbox" value="true" checked="checked"/>
	    <label for="performInference">Perform inference for this simulation</label><br>
	  <input type="submit" value="Simulate">
	#{/form}

</div>
</body>
</html>
