<html>

<head>
<title>Debug Visualizer</title>

<!-- leaflet -->
<script src="@{'/public/javascripts/leaflet/dist/leaflet.js'}"></script>
<link rel="stylesheet" href="@{'/public/javascripts/leaflet/dist/leaflet.css'}" />
<script src="@{'/public/javascripts/OpenLayers-2.11/OpenLayers.js'}"></script>
<script src="@{'/public/javascripts/proj4js/lib/proj4js-combined.js'}"></script>
<!-- jquery -->
<link type="text/css" href="@{'/public/javascripts/jquery/ui-lightness/jquery-ui-1.8.21.custom.css'}" rel="stylesheet" />	
<script type="text/javascript" src="@{'/public/javascripts/jquery/jquery-1.7.2.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery/jquery-ui-1.8.21.custom.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/sylvester.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/sylvester.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/ext-4.1.1a/ext-all-debug.js'}"></script>

<link rel="stylesheet" href="@{'/public/stylesheets/style.css'}" />
<link rel="stylesheet" href="@{'/public/javascripts/ext-4.1.1a/resources/css/ext-all.css'}" />

<script src="@{'/public/javascripts/visualizer.js'}"></script>

</head>	
<body>
<div id="vehicleId" style="visibility:hidden">${vehicleId}</div>
<!-- <table> -->
<!--   <tr> -->
<!--     <td colspan="2"> -->
<!--       <div id="top_bar"> -->
<!--       	<div id="loadData">  -->
<!--           <input type="text" id="vehicle_id" value="${vehicleId}" style="width: 300px; padding: 2px; border: 1px solid black"/> -->
<!--         	<span id="loadDataLink" class="jqlink" style="padding: 2px; border: 1px solid black">load data</span> -->
<!--         </div> -->
        
<!--       	<div id="controls"> -->
<!--     		  <div> -->
<!--       		  <span id="slider" style="width: 230px; float: left; left: 10px; right: 15px; top: 5px;"></span> -->
<!--             &nbsp;&nbsp;&nbsp;&nbsp; <span id="prev" class="jqlink"> -->
<!--             &laquo;</span> | <span id="next" class="jqlink"> -->
<!--             &raquo;</span> | <span id="play" class="jqlink">play -->
<!--             </span><span id="pause" class="jqlink">pause</span> -->
<!--         	  &nbsp;&nbsp; <span id="count_display"></span> -->
<!--     		  </div> -->
<!--         </div> -->
<!--       </div> -->
    
<!--       <div id="debug_bar" style="width: 500px; padding: 2px; border: 1px solid black"> -->
<!--           <input type="text" id="coordinate_data" style="width: 400px; padding: 2px; border: 1px solid black"/> -->
<!--           <span id="addCoordinates" class="jqlink" style="padding: 2px; border: 1px solid black">add point</span> -->
<!--         <br> -->
<!--           <input type="text" id="edge_id" style="width: 400px; padding: 2px; border: 1px solid black"/> -->
<!--           <span id="addEdge" class="jqlink" style="padding: 2px; border: 1px solid black">add edge</span> -->
<!--       </div> -->
<!--     </td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td rowspan=2> -->
<!--       <div id="map" style="width: 700px; height: 700px;"></div> -->
<!--     </td> -->
<!--     <td> -->
<!--       <div id='particlesTabs'></div> -->
<!--     </td> -->
<!--   </tr> -->
<!-- </table> -->

</body>
</html>
