
a {
color: #fff;
}

body {
    margin: 0px 0px;
    font-family: sans-serif;
}

.jqlink:hover {
    text-decoration:underline;
    cursor: pointer;
}

#top_bar {
    height: 23px;
    background: black;
    color: white;
    font-size: 14px;
    padding:2px;
}

#count_display {
	   float: right;
    position: relative;
    width: 370px;
    right: 5px;
    top: 5px;
    color: white;
    font-size: 14px;
}

#map {
    width:100%;
    height:100%;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px 0px 0px 26px;
}

li {
  position: relative;
}

.scrollable{
  overflow-y: scroll;
  overflow-x: scroll;
  border: 1px black solid;
}

.scrollable select{
	overflow:none;
  border: none;
}

.ui-tabs .ui-state-disabled { 
    display: none; /* disabled tabs don't show up */ 
}