#{extends 'main.html' /}

#{set page:'taxi' /}

<div class="row-fluid" style="background-color: #fff;">

	<div class="span2">
	<ul class="nav nav-list" id="taxi_list">
	  <li class="nav-header">
	    Active Taxis
	  </li>
		 <script type="text/x-handlebars">
		  {{#each Taxi.vehicles}}
    		<li class="vehicle">{{imei}}</li>
  			{{/each}}
  		
		</script>
	</ul>
	</div>
	<div class="span10" style="margin: 0px;"">
	<div id="map">
	</div>
	</div>
</div>

<script src="@{'/public/javascripts/cebu_taxi.js'}"></script>