<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>org.opentrackingtools.webapp.server.GreetingServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/webapp/greet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InferenceServiceImpl</servlet-name>
		<servlet-class>org.opentrackingtools.webapp.server.InferenceServiceImpl</servlet-class>
		<init-param>
			<param-name>otpGraphPath</param-name>
			<param-value>../../OTPGraphs</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>InferenceServiceImpl</servlet-name>
		<url-pattern>/webapp/inferenceService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TraceUploadServiceImpl</servlet-name>
		<servlet-class>org.opentrackingtools.webapp.server.TraceUploadServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TraceUploadServiceImpl</servlet-name>
		<url-pattern>/webapp/traceUpload</url-pattern>
	</servlet-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>webapp.html</welcome-file>
	</welcome-file-list>

</web-app>
